{% extends 'baseBack.html.twig' %}

{% block title %}
    Outil index
{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="row">
            <h1>Outil index</h1>
            <!-- Styled Table Following the "Basic Table" Example -->
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Outils Overview</h4>
                        <p class="card-description">
                            Basic information about tools <code>.table</code>
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Prix</th>
                                    <th>Ressources</th>
                                    <th>Stock</th>
                                    <th>Etat</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for outil in outils %}
                                    <tr>
                                        <td>{{ outil.id }}</td>
                                        <td>{{ outil.nom }}</td>
                                        <td>{{ outil.description }}</td>
                                        <td>{{ outil.prix }}</td>
                                        <td>{{ outil.ressources }}</td>
                                        <td>{{ outil.stock }}</td>
                                        <td>
                                            {% if outil.etat == 'Pending' %}
                                                <label class="badge badge-danger">{{ outil.etat }}</label>
                                            {% elseif outil.etat == 'In progress' %}
                                                <label class="badge badge-warning">{{ outil.etat }}</label>
                                            {% elseif outil.etat == 'Fixed' %}
                                                <label class="badge badge-info">{{ outil.etat }}</label>
                                            {% else %}
                                                <label class="badge badge-success">{{ outil.etat }}</label>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <img src="/uploads/images/{{ outil.image }}" style="width: 100px;" alt="Image of {{ outil.nom }}">
                                        </td>                                        <td>
                                            <a href="{{ path('app_outil_show', {'id': outil.id}) }}">show</a>
                                            <a href="{{ path('app_outil_edit', {'id': outil.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('app_outil_new') }}">Create new</a>

    </div>

{% endblock %}
