
{% block stylesheets %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Artisan</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('shared/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('shared/assets/vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('shared/assets/css/style.css') }}">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="{{ asset('shared/assets/shared/images/favicon.png') }}" />
{% endblock %}

{% block body %}


    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">

            {% for message  in app.flashes('message') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
      
            {% for danger  in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ danger }}
                </div>
            {% endfor %}
                            <h3 class="card-title text-left mb-3">Forgot Password ?</h3>

                                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                                <div class="form-group">
                                    <label>Enter email</label>
                                    {{ form_widget(form.email,{'attr':{'class':'form-control p_input'}}) }}
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Reset</button>
                                </div>
                                {{ form_end(form) }}


                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="{{ asset('shared/assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="{{ asset('shared/assets/js/off-canvas.js') }}"></script>
    <script src="{{ asset('shared/assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('shared/assets/js/misc.js') }}"></script>
    <script src="{{ asset('shared/assets/js/settings.js') }}"></script>
    <script src="{{ asset('shared/assets/js/todolist.js') }}"></script>
    <!-- endinject -->
{% endblock %}
