{% extends 'base1.html.twig' %}

{% block body1 %}
<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>add Formation</h1>
                <h2>Upcoming Meetings</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %} 

{% block body2 %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title" style="color: white">Create Offer for </h1>

<form action="{{ path('app_formation_add') }}" method="post" enctype="multipart/form-data">
    
    {{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.nom, 'Nom:') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.nom) %}
            <div class="alert alert-danger mt-2">
                {{ form_errors(form.nom) }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.description, 'Description:') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.description) %}
            <div class="alert alert-danger mt-2">
                {{ form_errors(form.description) }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.dated, 'Date de début:', {'label_attr': {'style': 'color: black'}}) }}

        {{ form_widget(form.dated, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.dated) %}
            <div class="alert alert-danger mt-2">
                {{ form_errors(form.dated) }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.datef, 'Date de fin:',{'label_attr': {'style': 'color: black'}}) }}
        {{ form_widget(form.datef, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.datef) %}
            <div class="alert alert-danger mt-2">
                {{ form_errors(form.datef) }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.prix, 'Prix:', {'label_attr': {'style': 'color: black'}})}}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.prix) %}
            <div class="alert alert-danger mt-2">
                {{ form_errors(form.prix) }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.nbrcours, 'Nombre de cours:',{'label_attr': {'style': 'color: black'}}) }}
        {{ form_widget(form.nbrcours, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(form.nbrcours) %}
            <div class="alert alert-danger mt-2">
                {{ form_errors(form.nbrcours) }}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form_label(form.imageUrl, 'Image File:', {'label_attr': {'style': 'color: black'}}) }}

        {{ form_widget(form.imageUrl, {'attr': {'class': 'form-control-file'}}) }}
        {% if form_errors(form.imageUrl) %}
            <div class="alert alert-danger mt-2">
                {{ form_errors(form.imageUrl) }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">ADD Formation</button>
    {{ form_end(form) }}
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %} 

{% block body3 %}
{% endblock %} 
{% block body4 %}
{% endblock %} 
{% block body5 %}
{% endblock %} 
{% block body6 %}
{% endblock %} 
{% block body7 %}
{% endblock %}