{% extends 'base1.html.twig' %}

{% block body1 %}
<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>Here are our upcoming meetings</h6>
                <h2>Upcoming Meetings</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %} 

{% block body2 %}

<section class="meetings-page" id="meetings">
    <div class="container">
        <a href="{{ path('app_formation_add') }}" class="btn btn-primary" role="button">Add Formation</a>
        
        <div class="col" style="text-align: right; margin-top: -40px;">
            <a href="{{ path('display_offers') }}" class="btn btn-primary" role="button">Display Offers</a>
        </div>
        


       
        <!-- Add Formation Modal -->
        <div class="modal fade" id="addFormationModal" tabindex="-1" role="dialog" aria-labelledby="addFormationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addFormationModalLabel">Add Formation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% include 'formation/add_formation.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li  id="showAllBtn" onclick="showAllFormations()">All</li>
                  <li  id="sortOldToNewBtn" onclick="sortFormationsOldToNew()">Sort ASC</li>
                  <li  id="filterOffersBtn" onclick="filterFormations()">Offers</li>
                </ul>
              </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
            
                <div class="row grid">
                    {% for formation in formations %}
                    <div class="col-lg-4 templatemo-item-col all soon">
                        <div class="meeting-item">
                            <div class="thumb">
                                <div class="price">
                                    <span>${{ formation.prix }}</span>        
                                            {% for offre in offers[formation.getIdFormation()] %}

            <span> {{ offre.prixOffre }} $ (special Offre)</span> 
        {% endfor %}
                                </div>
                                <a href="{{ path('formation_details', { id: formation.idFormation }) }}">
                                    {# <img src="{{ formation.imageUrl }}" alt=""> #}
                                                               <video controls width="375" >
                                                <source src="{{ asset(formation.imageurl) }}" type="video/mp4">
                                                </video>
                                </a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>{{ formation.dated|date('M d') }}</h6>
                                    <h6 hidden>{{ formation.datef|date() }}</h6>

                                </div>
                                <a href="{{ path('formation_details', { id: formation.idFormation }) }}">
                                    <h4>{{ formation.nom }}</h4>
                                </a>
                                <p>{{ formation.description }}</p>
                            </div>
                            <!-- Delete Button -->
                            <form action="{{ path('delete_formation', { id: formation.idFormation }) }}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Add a button to filter formations with offers -->
<script>
    function sortFormationsOldToNew() {
        // Get all formations
        var formationsContainer = document.querySelector('.row.grid');
        var formations = Array.from(formationsContainer.querySelectorAll('.templatemo-item-col'));
        
        // Sort formations by date (ascending)
        formations.sort(function(a, b) {
            var dateA = new Date(a.querySelector('.date h6').innerText);
            var dateB = new Date(b.querySelector('.date h6').innerText);
            return dateA - dateB;
        });
        
        // Re-append formations to container in sorted order
        formations.forEach(function(formation) {
            formationsContainer.appendChild(formation);
        });
    }
</script>
<script>
    function showAllFormations() {
        // Get all formations
        var formations = document.querySelectorAll('.templatemo-item-col');
        
        // Loop through formations and show each one
        formations.forEach(function(formation) {
            formation.style.display = 'block';
        });
    }
</script>

<script>
    function filterFormations() {
        // Get all formations
        var formations = document.querySelectorAll('.templatemo-item-col');
        
        // Loop through formations
        formations.forEach(function(formation) {
            // Check if formation has offers
            var hasOffers = formation.querySelector('.price span:nth-child(2)');
            
            // If formation has offers, show it, otherwise hide it
            if (hasOffers) {
                formation.style.display = 'block';
            } else {
                formation.style.display = 'none';
            }
        });
    }
</script>

<!-- Button to trigger modal -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





{% endblock %} 

{% block body3 %}

{% endblock %} 
{% block body4 %}
{% endblock %} 
{% block body5 %}
{% endblock %} 
{% block body6 %}
{% endblock %} 
{% block body7 %}


<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    /* Style each pagination link */
    .pagination-container .pagination a {
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 5px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    /* Hover effect */
    .pagination-container .pagination a:hover {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    /* Style the active pagination link */
    .pagination-container .pagination .active a {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }
</style>




<div class="pagination-container">
    {{ knp_pagination_render(formations) }}
</div>

{% endblock %}
