{% extends 'base.html.twig' %}

{% block body1 %}
<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>Here are our upcoming meetings</h6>
                <h2>Upcoming Meetings</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %} 

{% block body2 %}
<div class="row">
    <div class="col-lg-12">
        {% for formation in formations %}
        <div>
            <h3>{{ formation.nom }}</h3>
            <p>{{ formation.description }}</p>
            <p>Start Date: {{ formation.dated|date('Y-m-d') }}</p>
            <p>End Date: {{ formation.datef|date('Y-m-d') }}</p>
            <h4>Offers:</h4>
            <ul>
                {% for offer in offers[formation.idFormation] %}
                <li>{{ offer.description }} - {{ offer.prixOffre }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
</section>


<!-- Button to trigger modal -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %} 

{% block body3 %}
{% endblock %} 
{% block body4 %}
{% endblock %} 
{% block body5 %}
{% endblock %} 
{% block body6 %}
{% endblock %} 
{% block body7 %}
{% endblock %}
