{{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}

<div class="form-group">
    {{ form_label(form.description, null, {'attr': {'class': 'white-label'}}) }}  <!-- Description label with white class -->
    {{ form_widget(form.description) }} 
    {{ form_errors(form.description) }}  <!-- Description input -->
</div>

<div class="form-group">
    {{ form_label(form.formation, null, {'attr': {'class': 'white-label'}}) }}  <!-- Formation label with white class -->
    {{ form_widget(form.formation) }}  <!-- Formation input -->
</div>

<div class="form-group">
    {{ form_label(form.outil, null, {'attr': {'class': 'white-label'}}) }}  <!-- Outil label with white class -->
    {{ form_widget(form.outil) }}  <!-- Outil input -->
</div>

<div class="form-group">
    {{ form_label(form.user, null, {'attr': {'class': 'white-label'}}) }}  <!-- User label with white class -->
    {{ form_widget(form.user) }}  <!-- User input -->
</div>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
