{# reclamation/_reclamation_list.html.twig #}
{% for reclamation in reclamations %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Username: {{ reclamation.user.idUser }}</h5>
            <p class="card-text">Description: {{ reclamation.description }}</p>
            <p class="card-text">Formation: {{ reclamation.formation.nom }}</p>
            <p class="card-text">Outil: {{ reclamation.outil.nom }}</p>
            <p class="card-text">Date: {{ reclamation.date ? reclamation.date|date('Y-m-d H:i:s') : '' }}</p>
            <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-primary">Show</a>
            <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-warning">Edit</a>
            {{ include('reclamation/_delete_form.html.twig') }}
        </div>
    </div>
{% else %}
    <p>No records found</p>
{% endfor %}
