{% extends 'frontBase.html.twig' %}

{% block body %}
    <h1>Reclamation index</h1>

    <!-- Search input -->
    <input type="text" id="searchInput" placeholder="Search...">

    <div class="card-container">
       {% for reclamation in reclamations %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Username: {{ reclamation.user.idUser }}</h5>
            <p class="card-title">Description: {{ reclamation.description }}</p>
            <p class="card-title">Formation: {{ reclamation.formation.nom }}</p>
            <p class="card-title">Outil: {{ reclamation.outil.nom }}</p>
            <p class="card-title">Date: {{ reclamation.date ? reclamation.date|date('Y-m-d H:i:s') : '' }}</p>
            <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-primary">Show</a>
            <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('app_reponse_new', {'reclamationId': reclamation.id,'idUser': app.user.idUser}) }}" class="btn btn-success">Add Response</a>
            <a class ="btn btn-danger">{{ include('reclamation/_delete_form.html.twig') }}</a>
        </div>
    </div>

{% else %}
    <p>No records found</p>
{% endfor %}
    </div>
    

    <a href="{{ path('app_reclamation_new',{'idUser': app.user.idUser}) }}" class="btn btn-success">Create new</a>

  

     <!-- Google Pie Chart -->
  
  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#searchInput').on('input', function() {
                var searchTerm = $(this).val();
                $.ajax({
                    url: '{{ path('app_reclamation_client', {'id_user': id_user}) }}',

                    type: 'POST',
                    data: { searchTerm: searchTerm },
                    success: function(response) {
                        $('.card-container').html(response);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>      
{% endblock %}
