{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}  #}

{{ form_start(form, {'attr': {'id': 'evaluation_form', 'class': 'evaluation-form', 'method': 'post'}}) }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Créer une évaluation</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.note, 'Note') }}
            {{ form_widget(form.note, {'attr': {'placeholder': 'Note...', 'class': 'form-control', 'type': 'number', 'required': 'required'}}) }}
        </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.nom, 'Nom') }}
                {{ form_widget(form.nom, {'attr': {'placeholder': 'Nom...', 'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.cours, 'Cours') }}
                {{ form_widget(form.cours, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.questions, 'Questions') }}
                <div id="question-container" class="justify-content-center">
                    {% for questionForm in form.questions %}
                        <div class="question-item mb-3">
                            {{ form_row(questionForm, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Ajouter une autre question</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                {{ form_widget(form._token) }}
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
