{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_start(form, {'attr': {'id': 'contact', 'class': 'contact-form', 'method': 'post'}}) }}
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Creer une evaluation</h2>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        {{ form_label(form.note, 'Note') }}
                                        {{ form_widget(form.note, {'attr': {'placeholder': 'NOTE...', 'required': 'required'}}) }}
                                    </fieldset>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        {{ form_label(form.nom, 'Nom') }}
                                        {{ form_widget(form.nom, {'attr': {'placeholder': 'NOM...', 'required': 'required'}}) }}
                                    </fieldset>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        {{ form_label(form.cours, 'Cours') }}
                                        {{ form_widget(form.cours) }}
                                    </fieldset>
                                </div>


                                <div class="col-lg-12">
                                    <fieldset>
                                        {{ form_label(form.questions, 'Questions') }}
                                        {% for questionForm in form.questions %}
                                            <div class="question-item">
                                                {{ form_row(questionForm) }}
                                            </div>
                                        {% endfor %}
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        {{ form_widget(form._token) }}
                                    </fieldset>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
