{% set baseTemplate = app.user.getRole() == 0 or app.user.getRole() == 1 ? 'frontBase.html.twig' : 'backBase.html.twig' %}
{% extends baseTemplate %}
{% block title %}Cours index{% endblock %}

{% block body %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{% if app.user.getRole() != 2 %}
                    <a class="btn btn-primary btn-round mx-5 mt-5" href="{{ path('app_cours_newc') }}" class="btn btn-primary">New</a>
{% endif %}
    <div class="container profile-page">
        <div class="col-xl-12 col-lg-12 col-md-12">
            {% for cour in cours %}
                {% if loop.index0 % 3 == 0 %}
                    <div class="row">
                {% endif %}
                
<div class="col-lg-4 col-md-4 col-12">
    <div class="card profile-header mt-3" style="background-image: url('{{ asset('images/Capture.jpg') }}');">
        <div class="body text-center"> <!-- Updated class to text-center -->

            <h4 class="m-t-0 m-b-0"><strong>{{ cour.nom }}</strong></h4>
            <p>{{ cour.description }}</p>
            <ul>
                <video controls width="300" class="my-2">
                <source src="{{ asset('uploads/videos/' ~ cour.image) }}" type="video/mp4">
                </video>
                <li class="my-2"><strong>Duration:</strong> {{ cour.duree }} hours</li>
                <li class="my-2"><strong>Prerequis:</strong> {{ cour.prerequis }}</li>
                <li class="my-2"><strong>Resources:</strong> {{ cour.ressource }}</li>
            </ul>
            <div class="my-2">
            
                <a class="btn btn-primary btn-round" href="{{ path('app_cours_show', {'id': cour.id}) }}" >Show</a>
                {% if app.user.getRole() == 1 %}

                <a class="btn btn-success btn-round" href="{{ path('app_evaluation_new', {'id': cour.id}) }}" >new evaluation</a>
                <a href="{{ path('app_evaluation_edit', {'coursId': cour.id}) }}" class="btn btn-primary">
                    Edit Evaluation
                </a>
                {% endif %}
                {% if app.user.getRole() == 0 %}

                <a href="{{ path('evaluation_questions', {'coursId': cour.id}) }}" class="btn btn-primary">Test</a>
                {% endif %}


            </div>
        </div>
    </div>
</div>

                
                {% if loop.index0 % 3 == 2 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <style>
        a {
            color: #f96332;
        }
        .m-t-5 {
            margin-top: 5px;   
        }
        .card {
            background: #fff;
            margin-bottom: 30px;
            transition: .5s;
            border: 0;
            border-radius: .1875rem;
            display: inline-block;
            position: relative;
            width: 100%;
            box-shadow: none;
        }
        .card .body {
            font-size: 14px;
            color: #424242;
            padding: 20px;
            font-weight: 400;
        }
        .profile-page .profile-header {
            position: relative
        }

        .profile-page .profile-header .profile-image img {
            border-radius: 50%;
            width: 140px;
            border: 3px solid #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        }

        .profile-page .profile-header .social-icon a {
            margin: 0 5px
        }

        .profile-page .profile-sub-header {
            min-height: 60px;
            width: 100%
        }

        .profile-page .profile-sub-header ul.box-list {
            display: inline-table;
            table-layout: fixed;
            width: 100%;
            background: #eee
        }

        .profile-page .profile-sub-header ul.box-list li {
            border-right: 1px solid #e0e0e0;
            display: table-cell;
            list-style: none
        }

        .profile-page .profile-sub-header ul.box-list li:last-child {
            border-right: none
        }

        .profile-page .profile-sub-header ul.box-list li a {
            display: block;
            padding: 15px 0;
            color: #424242
        }
    </style>
{% endblock %}