{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }} #}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('shared/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('shared/assets/vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('shared/assets/css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset('shared/assets/images/favicon.png') }}" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Register</h3>
                            {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_label(form.nom) }}
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control p_input'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.prenom) }}
                                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control p_input'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control p_input'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.dateNaissance) }}
                                    {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control p_input'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.adresse) }}
                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control p_input'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.numtel) }}
                                    {{ form_widget(form.numtel, {'attr': {'class': 'form-control p_input'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.role) }}
                                    {{ form_widget(form.role, {'attr': {'class': 'form-check-input'}}) }}
                                </div>
                                <div class="pb-5"></div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Suivant</button>
                                </div>
                                <p class="sign-up text-center">Already have an Account?<a href="{{ path('app_login') }}"> Sign In</a></p>
                            {{ form_end(form, {'render_rest': false}) }}
{% if app.request.method == 'POST' %}
    {% set userData = {
        'nom': form.nom.vars.value,
        'prenom': form.prenom.vars.value,
        'email': form.email.vars.value,
        'adresse': form.adresse.vars.value,
        'numtel': form.numtel.vars.value is not null ? form.numtel.vars.value : '',
        'role': form.role.vars.value
    } %}
    {{ app.session.set('userData', userData) }}

    <script>
        {% if userData.role == 0 %}
            window.location.href = "{{ path('client_additional_info') }}";
        {% else %}
            window.location.href = "{{ path('app_user_additional_info') }}";
        {% endif %}
    </script>
{% endif %}


                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ asset('shared/assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="{{ asset('shared/assets/js/off-canvas.js') }}"></script>
    <script src="{{ asset('shared/assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('shared/assets/js/misc.js') }}"></script>
    <script src="{{ asset('shared/assets/js/settings.js') }}"></script>
    <script src="{{ asset('shared/assets/js/todolist.js') }}"></script>
    <!-- endinject -->
</body>
</html>
