{% extends 'frontBase.html.twig' %}

{% block title %}Modifier le profil du Client{% endblock %}

{% block body %}
    <section class="contact-us" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="post" action="{{ path('app_user_edit_client', {'idUser': user.getIdUser()}) }}" id="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>Modifier le profil du Client</h2>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="nom" type="text" id="nom" value="{{ user.getNom() }}" placeholder="Nom...*" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="prenom" type="text" id="prenom" value="{{ user.getPrenom() }}" placeholder="Prénom...*" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="email" type="email" id="email" value="{{ user.getEmail() }}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]+" placeholder="Email...*" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="dateNaissance" type="date" id="dateNaissance" value="{{ user.getDateNaissance()|date('Y-m-d') }}" placeholder="Date de Naissance...*" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="adresse" type="text" id="adresse" value="{{ user.getAdresse() }}" placeholder="Adresse...*" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="numtel" type="tel" id="numtel" value="{{ user.getNumtel() }}" pattern="\d{8}" title="Le numéro de téléphone doit contenir exactement 8 chiffres." placeholder="Numéro de téléphone...*" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset class="mb-4">
                                            <select name="niveauScolaire" id="niveauScolaire" class="form-select rounded-3" required>
                                                <option value="secondaire" {% if user.getNiveauScolaire() == 'secondaire' %}selected{% endif %}>Secondaire</option>
                                                <option value="primaire" {% if user.getNiveauScolaire() == 'primaire' %}selected{% endif %}>Primaire</option>
                                                <option value="académique" {% if user.getNiveauScolaire() == 'académique' %}selected{% endif %}>Académique</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="button">Enregistrer les modifications</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            const dateNaissanceInput = document.getElementById('dateNaissance');
            const dateNaissance = new Date(dateNaissanceInput.value);
            const dateThreshold = new Date('2003-01-01');
            if (dateNaissance >= dateThreshold) {
                alert('La date de naissance doit être avant le 1er janvier 2003.');
                event.preventDefault();
            }
        });
    </script>
{% endblock %}
