{% extends 'backBase.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

      <div class="container profile-page">
        <!-- Search input -->
        <div class="row mb-3">
            <div class="col-md-8">
                <input type="text" id="searchInput" class="form-control" placeholder="Search by Name">
            </div>
            <div class="col-md-2">
                <button id="searchBtn" class="btn btn-primary">Search</button>
            </div>
        </div>

        <!-- User cards will be displayed here -->
        <div id="userCardsContainer" class="col-xl-12 col-lg-12 col-md-12">
        </div>
    </div>
{# <div class="container profile-page">

    <div class="col-xl-12 col-lg-12 col-md-12">
        {% for user in users %}
            {% if loop.index0 % 3 == 0 %}
                <div class="row">
            {% endif %}
<!---->
                          <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h4 class="mb-0">{{ user.nom }} {{ user.prenom }}</h4>
                          <p class="text-success ms-2 mb-0 font-weight-medium">
                            {% if user.role == 0 %}
                                Client
                            {% elseif user.role == 1 %}
                                Formateur
                            {% else %}
                                Admin
                            {% endif %}
                          </p>
                        </div>
                        <h6 class="text-muted font-weight-normal">( {{ user.genre }} )</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <img src="{{ asset(user.imageProfil) }}" class="rounded-circle" alt="Profile Image" width="100" height="100">
                      </div>
                        <div>
							<a  href="{{ path('app_user_show', {'idUser': user.idUser}) }}" class="btn btn-outline-primary">Show</a>
        <form method="post" action="{{ path('app_user_ban_unban', {'idUser': user.idUser}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('ban' ~ user.idUser) }}">
    <button class="btn btn-outline-primary">    {% if user.getActivated() %}Ban{% else %}Unban{% endif %}
</button>
</form>
        
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            
            {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>



	


</div> #}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Function to perform search and update user cards
        function searchUsers(searchTerm) {
            $.ajax({
                url: "{{ path('search_users') }}", // Update with your Symfony route name
                type: 'GET',
                data: { searchTerm: searchTerm },
                success: function(response) {
                    $('#userCardsContainer').html(response);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        // Function to load all users
        function loadAllUsers() {
            searchUsers('');
        }

        // Check if search input is empty when the page loads
        if ($('#searchInput').val().trim() === '') {
            loadAllUsers();
        }

        // Trigger search when clicking the search button
        $('#searchBtn').click(function() {
            var searchTerm = $('#searchInput').val();
            if (searchTerm.trim() === '') {
                loadAllUsers();
            } else {
                searchUsers(searchTerm);
            }
        });

        // Trigger search when pressing Enter in the search input field
        $('#searchInput').keypress(function(event) {
            if (event.which === 13) { // Check if Enter key is pressed
                var searchTerm = $('#searchInput').val().trim();
                if (searchTerm === '') {
                    loadAllUsers();
                } else {
                    searchUsers(searchTerm);
                }
            }
        });
    });
</script>


{% endblock %}
