{% extends 'frontBase.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1 class="text-white mx-4 my-4">Modifier le mot de passe</h1>

    {{ form_start(form) }}


        <div class="mb-3">
            {{ form_label(form.mdp) }}
            {{ form_widget(form.mdp, {'attr': {'class': 'form-control w-50 mx-2'}}) }}
        </div>
        {{ form_widget(form.Modifier, {'attr': {'class': 'btn btn-primary mx-2'}}) }}
    {{ form_end(form) }}
{% endblock %}