{% extends 'frontBase.html.twig' %}

{% block title %}Profil du Client{% endblock %}

{% block body %}
    <section class="our-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Profil</h2>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">{{ user.getNom() }}</div>
                                        <div class="count-title">Nom</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">{{ user.getPrenom() }}</div>
                                        <div class="count-title">Prénom</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">{{ user.getGenre() }}</div>
                                        <div class="count-title">Genre</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">{{ user.getNiveauScolaire() }}</div>
                                        <div class="count-title">Niveau Scolaire</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="count-area-content new-students">
                                        <div class="count-digit" style="font-size: 10px;">{{ user.getEmail() }}</div>
                                        <div class="count-title">Email</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">{{ user.getDateNaissance()|date('Y-m-d') }}</div>
                                        <div class="count-title">Date de Naissance</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">{{ user.getAdresse() }}</div>
                                        <div class="count-title">Adresse</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="count-area-content">
                                        <div class="count-digit">{{ user.getNumtel() }}</div>
                                        <div class="count-title">Numéro de téléphone</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row" style="margin-top: 130px;">
                        <div class="col-lg-12 align-self-center">
                            {# <img src="{{ asset(user.imageProfil) }}" alt=""></a> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
