{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block stylesheets %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Artisan</title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('shared/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('shared/assets/vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('shared/assets/css/style.css') }}">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="{{ asset('shared/assets/shared/images/favicon.png') }}" />


<!--CHECK........................................................................ -->
        <link rel="stylesheet" href="{{ asset('shared/assets/css/mystyle.css') }}">

    <!-- End layout styles -->




{% endblock %}

{% block body %}
<div class="container">
    <h1>Statistiques</h1>
    <h2>Titer des forums</h2>
    <canvas id="commentChart" width="400" height="200"></canvas>
    <div class="footer-link">
        <a href="{{ path('app_forum_index' , {'idformation': idformation,'idUser': app.user.idUser}) }}">Retour à la liste des forums</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const data = {{ data|raw }};

        const ctx = document.getElementById('commentChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: data.map(item => item.nom),
                datasets: [{
                    label: 'Nombre de publications par forum',
                    data: data.map(item => item.nombre_publications),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            display: false // Masquer les étiquettes de l'axe Y
                        }
                    }]
                }
            }
        });
    });
</script>

{% endblock %}
