{% extends 'backBase.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
    <h1 class="text-primary">Forums</h1>
    
    <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" id="searchForm">
                <input type="text" class="form-control" name="titre" id="searchInput" placeholder="Search Forums">
            </form>
        </li>
    </ul>
    <table class="table table-hover" id="forumTable">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date dernière modification</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for forum in forums %}
                <tr>
                    <td>{{ forum.titre }}</td>
                    <td>{{ forum.datecreation ? forum.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ forum.description }}</td>
                    
                    <td>
                        <form method="post" action="{{ path('app_forum_delete', {'idforum': forum.idforum,'idformation': idformation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum.idforum) }}">
                            <button type="button" class="btn btn-inverse-danger btn-fw">Delete</button>
                        </form>
                        <button type="button" class="btn btn-inverse-primary btn-fw" onclick="window.location.href='{{ path('app_forum_edit', {'idforum': forum.idforum, 'idformation': idformation}) }}'">Edit</button>
                        <td><a href="{{ path('Back_publication_index', {'idUser': idUser, 'idForum': forum.idForum, 'idformation': idformation}) }}">go to pub</a></td>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-inverse-primary btn-fw" onclick="window.location.href='{{ path('app_forum_new', {'idformation': idformation,'idUser': idUser}) }}'">Create new</button>

    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("forumTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; 
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        document.getElementById("searchInput").addEventListener("input", function() {
            filterTable();
        });
    </script>
{% endblock %}
