{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h1>Forum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idforum</th>
                <td>{{ forum.idforum }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ forum.titre }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ forum.datecreation ? forum.datecreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ forum.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forum_index', {'idformation': idformation}) }}">back to list</a>

    <a href="{{ path('app_forum_edit', {'idforum': forum.idforum}) }}">edit</a>

    {{ include('forum/_delete_form.html.twig') }}
{% endblock %}
