{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h1>Forum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdForum</th>
                <td>{{ forum.idForum }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ forum.titre }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ forum.dateCreation ? forum.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ forum.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forum_index') }}">back to list</a>

    <a href="{{ path('app_forum_edit', {'idForum': forum.idForum}) }}">edit</a>

    {{ include('forum/_delete_form.html.twig') }}
{% endblock %}
